<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Dealers Area Visits</title>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqY_KSZT5roWML64vUI2cqWWhBHdXufMo&sensor=false">
</script>
<script type="text/javascript" src="../js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="../js/loadMap.js"></script>
<script type="text/javascript" src="../js/markerclusterer.js"></script>

</head>





<body onload='drawMap()'>
	
		<select id="dealerSelect" onchange="getVenues()">
			
		</select>
		
	    <div id="map-canvas" style="height: 600px;">
		</div>
</body>
</html>